<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li>
      <a ui-sref="home" translate>Home</a>
    </li>
  </ul>
  <profile></profile>
  <human-language></human-language>
  <programming-language ng-if="progLangs.progLangsAreAvailable()"></programming-language>
  <switch-exercise ng-if="navigation.isInLesson()"></switch-exercise>
  <ul class="off-canvas-list">
    <li>
      <label translate>Other links</label>
    </li>
    <li>
      <a translate>Report a bug</a>
    </li>
    <li>
      <a translate>Contact us</a>
    </li>
  </ul>
</aside>