<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li>
      <a ui-sref="home">Home</a>
    </li>
  </ul>
  <profile></profile>
  <human-language></human-language>
  <programming-language ng-if="progLangs.progLangsAreAvailable()"></programming-language>
  <switch-exercise ng-if="navigation.isInLesson()"></switch-exercise>
  <ul class="off-canvas-list">
    <li>
      <label>Report a bug</label>
    </li>
  </ul>
  <ul class="off-canvas-list">
    <li>
      <label>Contact us</label>
    </li>
  </ul>
</aside>