<ul class="off-canvas-list">
  <li>
    <label>Profile</label>
  </li>
  <span ng-if="!userService.isAuthenticated()">
    <li>
      <a ui-sref="signIn" translate>Sign In</a>
    </li>
    <li>
      <a ui-sref="signUp" translate>Sign Up</a>
    </li>
  </span>
  <span ng-if="userService.isAuthenticated()">
    <li>
      <a ui-sref="profile">
        {{ userService.getUser().fullName }}
        <img class="right" ng-src="{{ userService.getUser().avatarURL ? userService.getUser().avatarURL : '/assets/images/buggle-top.svg' }}">
      </a>
    </li>
    <li>
      <a>
        <span ng-click="userService.signOut()" translate>Sign Out</span>
      </a>
    </li>
  </span>
</ul>