<ul class="off-canvas-list">
  <li>
    <label translate>Switch exercise</label>
  </li>
</ul>
<ul class="off-canvas-list" style="min-height: 6rem; height: 60%; overflow-y: auto;">
  <span ng-repeat="rootLecture in exercisesList.getExercisesTree()">
    <li ng-if="rootLecture.children === undefined" ng-class="{'active-menu-item': exercisesList.isCurrentExerciseAChild(rootLecture)}" ui-sref="exercise({ lessonID: exercisesList.getCurrentLessonID(), exerciseID: rootLecture.id })">
      <a><strong>{{rootLecture.name}}</strong></a>
    </li>
    <li ng-if="rootLecture.children !== undefined" ng-class="{'active-menu-item': exercisesList.isCurrentExerciseAChild(rootLecture)}" ng-click="rootLecture.deployed = !rootLecture.deployed" class="accordion-navigation">
      <a>
        <strong>{{rootLecture.name}} {{'('+(rootLecture.children.length+1)+')'}}</strong>
        <span class="right">{{rootLecture.deployed ? "-" : "+"}}</span>
      </a>
    </li>
    <li ng-show="rootLecture.deployed" ng-class="{'active-menu-item': rootLecture.id === exercisesList.getCurrentExerciseID()}" ui-sref="exercise({ lessonID: exercisesList.getCurrentLessonID(), exerciseID: rootLecture.id })">
      <a style="margin-left: 5%">{{rootLecture.name}}</a>
    </li>
    <li ng-show="rootLecture.deployed" ng-repeat="exo in rootLecture.children" ng-class="{'active-menu-item': exo.id === exercisesList.getCurrentExerciseID()}" ui-sref="exercise({ lessonID: exercisesList.getCurrentLessonID(), exerciseID: exo.id })">
      <a style="margin-left: 5%">{{exo.name}}</a>
    </li>
  </span>
</ul>