<div class="row">
	<dl class="tabs" data-tab=true>
		<dd class="tab-title" ng-class="{ active: exercise.display === 'instructions' }" ng-click="exercise.display = 'instructions'"><a>Consignes</a></dd>
		<dd class="tab-title" ng-class="{ active: exercise.display === 'api' }" ng-click="exercise.display = 'api'"><a>API</a></dd>
		<dd class="tab-title" ng-class="{ active: exercise.display === 'programSteps' }" ng-click="exercise.display = 'programSteps'"><a>Étapes du programme</a></dd>
		<dd class="tab-title" ng-class="{ active: exercise.display === 'result' }" ng-click="exercise.display = 'result'"><a>Résultat</a></dd>
		<dd class="tab-title" ng-class="{ active: exercise.display === 'logs' }" ng-click="exercise.display = 'logs'"><a>Logs</a></dd>
	</dl>
</div>
<div class="row">
	<div ng-show="exercise.display === 'instructions'" ng-bind-html="exercise.instructions"></div>
	<div ng-show="exercise.display === 'api'" ng-bind-html="exercise.api"></div>
	<div class="with-newlines" ng-show="exercise.display === 'result'">{{exercise.result || "Pas de résultats pour le moment, veuillez exécuter votre programme au préalable"}}</div>
	<div class="with-newlines" ng-show="exercise.display === 'logs'">{{exercise.logs || "Pas de messages d'erreurs pour le moment...Félicitations!"}}</div>
	<div ng-show="exercise.display === 'programSteps'">
		<div ng-repeat="obj in exercise.currentWorld.steps" ng-class="{ 'active-operation': obj.step === exercise.currentWorld.currentState}" ng-click="exercise.setWorldState(obj.step)">{{obj.msg}}</div>
	</div>
</div>