<div class="row">
	<dl class="tabs" data-tab=true>
		<dd class="tab-title" ng-class="{ active: exercise.displayResults === 'result' }" ng-click="exercise.displayResults = 'result'"><a>Résultat</a></dd>
		<dd class="tab-title" ng-class="{ active: exercise.displayResults === 'programSteps' }" ng-click="exercise.displayResults = 'programSteps'"><a>Étapes du programme</a></dd>
		<dd class="tab-title" ng-class="{ active: exercise.displayResults === 'logs' }" ng-click="exercise.displayResults = 'logs'"><a>Logs</a></dd>
	</dl>
</div>
<div class="row overflow">
	<div ng-show="exercise.displayResults === 'programSteps'">
		<div ng-show="exercise.currentWorld.steps.length === 0">
			<p class="lead">Les différents étapes de l'exécution de votre programme seront affichées ici.</p>
		</div>
		<div ng-repeat="obj in exercise.currentWorld.steps" ng-class="{ 'active-operation': obj.step === exercise.currentWorld.currentState}" ng-click="exercise.setWorldState(obj.step)">{{obj.msg}}</div>
	</div>
	<div ng-show="exercise.displayResults === 'result'">
		<div ng-show="exercise.result === ''">
			<p class="lead">Pas de résultats pour le moment, veuillez exécuter votre programme au préalable.</p>
		</div>
		<div class="with-newlines" ng-show="exercise.result !== ''">{{exercise.result}}</div>
	</div>
	<div ng-show="exercise.displayResults === 'logs'">
		<div ng-show="exercise.logs === ''">
			<p class="lead">Pas de messages d'erreurs pour le moment...Félicitations!</p>
		</div>
		<div class="with-newlines" ng-show="exercise.logs !== ''">{{exercise.logs}}</div>
	</div>
</div>