<a class="button small" data-reveal-id="revertExerciseModal">Réinitialiser</a>
<div id="revertExerciseModal" class="reveal-modal" data-reveal=true>
	<h2>Attention!</h2>

	<p class="lead">Réinitialiser cet exercice effacera tout votre travail et ne le rendra irrécupérable. Êtes-vous sûr de vouloir continuer?</p>
	<div class="row">
		<button class="button secondary" onclick="$('#revertExerciseModal').foundation('reveal', 'close');">Annuler</button>
		<button class="button" ng-click="exercise.revertExercise()">Continuer</button>
	</div>

	<a class="close-reveal-modal">&#215;</a>
</div>