<a >
	<img data-dropdown="dropLangs" ng-src="{{langs.getSelectedLang().icon}}" width="50px"/>
</a>
<ul id="dropLangs" class="f-dropdown" data-dropdown-content=true>
	<li data-reveal-id="restartServerModal" ng-repeat="lang in langs.getAvailableLangs()" ng-class="{ 'active-operation': lang.code === langs.getSelectedLang().code }" ng-click="langs.temp = lang">
  		<a><img ng-src="{{lang.icon}}" width="50%"/>&nbsp;&nbsp;{{lang.name}}</a>
 	</li>
</ul>

<div id="restartServerModal" class="reveal-modal" data-reveal=true>
  <h2>Redémarrage de l'application requis</h2>
  <p class="lead">Afin de prendre en compte ce changement,<strong>l'application a besoin de redémarrer.</strong>Voulez-vous continuer?</p>
  <span class="center">
  	<button class="secondary" onclick="$('#restartServerModal').foundation('reveal', 'close');" ng-click="langs.temp = null;">Annuler</button>
  	<button onclick="$('#restartServerModal').foundation('reveal', 'close');" ng-click="langs.setSelectedLang(langs.temp); langs.temp = null;">Continuer</button>
  </span>
  
  <a class="close-reveal-modal">&#215;</a>
</div>