<a class="button small" data-reveal-id="exercisesModal">Changer</a>
<div id="exercisesModal" class="reveal-modal" data-reveal=true>
	<h2>Choisir un exercice:</h2>

	<div class="row">

		<div class="small-4 columns">
			<ul class="tabs vertical no-width overflow" data-tab=true>
				<li ng-repeat="rootLecture in exercise.exercisesAsTree" ng-class="{ active: exercise.selectedRootLecture === rootLecture }" class="tab-title" ng-click="exercise.setSelectedRootLecture(rootLecture)">
					<a>{{rootLecture.name}}</a>
				</li>
			</ul>
		</div>

		<div class="small-8 columns">
			<ul class="tabs vertical no-width overflow" data-tab=true>
				<li ng-class="{ active: exercise.selectedNextExercise === exercise.selectedRootLecture }" class="tab-title" ng-click="exercise.setSelectedNextExercise(exercise.selectedRootLecture)"><a>{{exercise.selectedRootLecture.name}}</a></li>
				<li ng-repeat="exo in exercise.selectedRootLecture.children" ng-class="{ active: exercise.selectedNextExercise === exo }" class="tab-title"  ng-click="exercise.setSelectedNextExercise(exo)"><a>{{exo.name}}</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<button class="button radius right" onclick="$('#exercisesModal').foundation('reveal', 'close');" ui-sref="exercise({lessonID: exercise.lessonID, exerciseID: exercise.selectedNextExercise.id})">Sélectionner</button>
	</div>

	<a class="close-reveal-modal">&#215;</a>
</div>