<div class="row">
	<dl class="tabs" data-tab=true>
		<dd ng-class="{ active: exercise.worldKind === 'current' && exercise.displaySecondView === false}" ng-click="exercise.setCurrentWorld('current');exercise.setSecondView(false)">
			<a>Monde</a>
		</dd>
		<dd ng-class="{ active: exercise.worldKind === 'answer' && exercise.displaySecondView === false }" ng-click="exercise.setCurrentWorld('answer');exercise.setSecondView(false)">
			<a>Objectif</a>
		</dd>
		<dd ng-class="{ active: exercise.displaySecondView === true }" ng-click="exercise.setCurrentWorld('current');exercise.setSecondView(true)" ng-show="exercise.secondViewNeeded" >
			<a>Seconde Vue</a>
		</dd>
		<dd ng-class="{ active: exercise.worldKind === 'answer' && exercise.displaySecondView === true }" ng-click="exercise.switchToObjective();exercice.setSecondView(true)">
		<a translate>Seconde Vue Objectif</a>
		</dd>
	</dl>
</div>