<div class="row collapse">
	<div class="small-3 columns">
		<span class="prefix">
			<strong data-tooltip="true" aria-haspopup="true" class="has-tip" title="L'action se déroule dans un ou plusieurs mondes, selon l'exercice en cours. Chaque monde représente une configuration différente, n'oublie pas que ton programme doit fonctionner pour chacune d'entre elles ;-)">Monde selectionné:</strong>
		</span>
	</div>
	<div class="small-9 columns">
		<select id="selectWorld" ng-model="exercise.currentWorldID" ng-options="worldID for worldID in exercise.worldIDs | orderBy: 'this'" ng-change="exercise.setCurrentWorld('current')">
		</select>
	</div>
</div>
<div class="row">
	<div class="small-11 small-centered columns">
		<tabs-current-world></tabs-current-world>
		<div class="row">
			<canvas id="worldView" width="400" height="400"></canvas>
		</div>
		<animation-player></animation-player>
	</div>
</div>
