conf/generated.keystore
lib/cachedir
logs
/bin
project/project
project/target
target
tmp
.history
/dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.cache
/*~
npm-debug.log
node_modules/

#ruby
.bundle
start.bat
