conf/generated.keystore
lib/cachedir
logs
/bin
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.cache
/*~
npm-debug.log
node_modules/
root-log-*

#ruby
.bundle
start.bat
