<div class="row" data-equalizer=true>
	<div class="small-12 medium-5 columns overflow" data-equalizer-watch=true>
		<instructions></instructions>
	</div>
	
	<div class="small-12 medium-7 columns" data-equalizer-watch=true>
		<ide></ide>
	</div>
</div>
<div class="row">
	<hr/>
</div>
<div class="row" data-equalizer=true>
	<div class="small-12 medium-5 columns" data-equalizer-watch=true>
		<div class="row program-steps">
			<h3>Program steps</h3>
			<div ng-repeat="obj in exercise.currentWorld.steps" ng-class="{ 'active-operation': obj.step === exercise.currentWorld.currentState}" ng-click="exercise.setWorldState(obj.step)">{{obj.msg}}</div>
		</div>
	</div>
	<div class="small-12 medium-7 columns" data-equalizer-watch=true>
		<worlds-view></worlds-view>
	</div>
</div>