<form>
    <div class="row"> <!-- first name -->
        <div class="small-3 columns">
            <label for="right-label" class="right inline"><strong translate>First name:</strong></label>
        </div>
        <div class="small-9 columns">
            <input type="text" id="right-label" ng-model="signUp.firstName" placeholder="{{ 'First name'|translate }}" required>
        </div>
    </div> <!-- /first name -->

    <div class="row"> <!-- last name -->
        <div class="small-3 columns">
            <label for="right-label" class="right inline"><strong translate>Last name:</strong></label>
        </div>
        <div class="small-9 columns">
            <input type="text" id="right-label" ng-model="signUp.lastName" placeholder="{{ 'Last name'|translate }}" required>
        </div>
    </div> <!-- /last name -->

    <div class="row"> <!-- e-mail -->
        <div class="small-3 columns">
            <label for="right-label" class="right inline"><strong translate>Email:</strong></label>
        </div>
        <div class="small-9 columns">
            <input type="email" id="right-label" ng-model="signUp.email" placeholder="{{ 'Email'|translate }}" required>
        </div>
    </div> <!-- /e-mail -->

    <div class="row"> <!-- password -->
        <div class="small-3 columns">
            <label for="right-label" class="right inline"><strong translate>Password:</strong></label>
        </div>
        <div class="small-9 columns">
            <input type="password" id="right-label" ng-model="signUp.pwd" placeholder="{{ 'Password'|translate }}" required>
        </div>
    </div> <!-- /password-->

    <div class="row text-center">
        <input type="submit" class="button" ng-click="signUp.submit()" value="{{ 'Sign up'|translate }}"/>
    </div>
</form>