.size-12 { font-size: 8px; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

.CodeMirror {
	height: 1000px;
}

.program-steps {
	height: 550px;
	overflow-y: auto;
}

.no-width {
	width: 100% !important;
	max-width: 100% !important;
}

.active-operation {
	color: white;
	background-color: #008CBA;
	opacity: 0.7;
}

.th.has-tip {
  border-bottom: 0px;
}

.lesson-th {
  text-align: center;
}

.center {
	margin-left: 18% !important;
	margin-right: 18% !important;
}

.instructions-borders-top {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.instructions-borders-bot {
	padding-left: 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom-left-radius: 20px;
}

div[ui-view] {
	padding-top: 25px;
}

.row {
  max-width: 90%;
}

.overflow {
	overflow-y: auto;
	height: 500px;
}

.with-newlines {
    white-space: pre-wrap;
}

@media only screen and (min-width: 40.063em) { 
  .contain-to-grid .top-bar {
    max-width: 90%;
  }
}