.size-12 { font-size: 8px; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

.row {
	position: relative;
}

.overflow {
	overflow-y: auto;
	height: 500px;
	background-color: white;
	z-index: 20;
}

.instructions-fullscreen-add, .instructions-fullscreen-remove {
  -webkit-transition:height 0.7s linear;
  -moz-transition:height 0.7s linear;
  -o-transition:height 0.7s linear;
  transition:height 0.7s linear;
  height: 500px;
}

.instructions-fullscreen,
.instructions-fullscreen-add.instructions-fullscreen-add-active {
  height: 1300px;
}

.instructions-fullscreen-remove.instructions-fullscreen-remove-active {
  height:500px;
}

.worlds-view-reduce-add, .worlds-view-reduce-remove {
  -webkit-transition:all 0.7s linear;
  -moz-transition:all 0.7s linear;
  -o-transition:all 0.7s linear;
  transition:all 0.7s linear;
  height: 700px;
  opacity: 1;
}


.worlds-view-reduce,
.worlds-view-reduce-add.worlds-view-reduce-add-active {
  height: 0px;
  opacity: 0;
}

.worlds-view-reduce-remove.worlds-view-reduce-remove-active {
  height:700px;
  opacity: 1;
}

.tabs dd.active a, .tabs .tab-title.active a {
	color: #FFF;
	background-color: #008CBA;
	font-weight: bold;
}

.block {
	padding-top: 1.25rem;
	padding-left: 1.25rem;
	padding-bottom: 1.25rem;
	padding-right: 1.25rem;
}

.CodeMirror {
	height: 1000px;
}

.program-steps {
	height: 550px;
	overflow-y: auto;
}

.mini {
	padding-top: 1.05rem;
	padding-left: 1.05rem;
	padding-bottom: 1.05rem;
	padding-right: 1.05rem;
	font-size: 1rem;
}

.no-width {
	width: 100% !important;
	max-width: 100% !important;
}

.active-operation {
	color: white;
	background-color: #008CBA;
	opacity: 0.7;
}

.th.has-tip {
  border-bottom: 0px;
}

.lesson-th {
  text-align: center;
}

.center {
	margin-left: 18% !important;
	margin-right: 18% !important;
}

.instructions-borders-top {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.instructions-borders-bot {
	padding-left: 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom-left-radius: 20px;
}

div[ui-view] {
	padding-top: 25px;
}

.row {
  max-width: 90%;
}

.with-newlines {
    white-space: pre-wrap;
}

@media only screen and (max-width: 40em) {
	.overflow {
		height: auto;
	}
}

@media only screen and (min-width: 40.063em) { 
  .contain-to-grid .top-bar {
    max-width: 90%;
  }
}