<div class="row text-center">
  <a class="provider google" ng-click="signIn.authenticate('google')">
    <img src="/assets/images/providers/google.png">
  </a>
  <a class="provider github" ng-click="signIn.authenticate('github')">
    <img src="/assets/images/providers/github.png">
  </a>
  <a class="provider facebook" ng-click="signIn.authenticate('facebook')">
    <img src="/assets/images/providers/facebook.png">
  </a>
  <a class="provider plmAccounts" ng-click="signIn.authenticate('plmAccounts')">
    <img src="/assets/images/providers/plm.svg">
  </a>
</div>