<div style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
  <ul class="button-group" ng-repeat="world in exercise.initialWorlds" style="margin: 5px;">
    <li ng-click="exercise.setCurrentWorld(world.id, exercise.worldKind);">
      <a ng-class="{ alert: exercise.resultType === 0, success: exercise.resultType === 1 }" class="button">{{ world.id }}</a>
    </li>
    <li ng-click="exercise.runCode(world.id)" ng-if="!exercise.isRunning">
      <a ng-class="{ alert: exercise.resultType === 0, success: exercise.resultType === 1 }" class="button button-with-icon"><i class="fi-play"></i></a>
    </li>
    <li ng-click="exercise.stopExecution()" ng-if="exercise.isRunning" >
      <a ng-class="{ alert: exercise.resultType === 0, success: exercise.resultType === 1 }" class="button button-with-icon"><i class="fi-stop"></i></a>
    </li>
  </ul>
</div>