<div class="row">
    <div class="small-10 columns block">
        <world-edition-commands ng-show="editor.editorMode == 'world'"></world-edition-commands>
    </div>
    <div class="small-2 columns block">
        <select ng-model="editor.editorMode">
            <option ng-click="editor.initEditor()" value="world">Monde</option>
            <option value="mission">Mission</option>
            <option ng-click="editor.initSolutionEditor()" value="solution">Solution</option>
        </select>
    </div>
</div>

<div ng-show="editor.editorMode == 'world'">
    <div class="row">
        <div class="small-5 columns block">
            <world-edition></world-edition>
        </div>
        <div class="small-7 columns block">
            <world-edition-properties></world-edition-properties>
        </div>
        <hr>
    </div>

    <div id="errorModal" class="reveal-modal" data-reveal=true>
        <h2 translate>Error</h2>
        <div data-alert class="alert-box alert round">
            {{editor.errorMessage}}
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>

<div ng-show="editor.editorMode == 'mission'">
    <mission-edition></mission-edition>
</div>

<div ng-show="editor.editorMode == 'solution'">
    <solution-edition></solution-edition>
</div>