<div class="contain-to-grid">
	<nav class="top-bar" data-topbar=true role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a ui-sref="home">PLM</a></h1>
			</li>
			 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon">
				<a href="#"><span>Menu</span></a>
			</li>
		</ul>
	
		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><select-lang></select-lang></li>
			</ul>
		
			<!-- Left Nav Section -->
			<ul class="left">
				<li><a ui-sref="home">Home</a></li>
			</ul>
		</section>
	</nav> <!-- /.nav -->
</div>