<div class="row">
	<span class="left">
		<button class="button mini radius" ng-click="exercise.runCode()" ng-disabled="exercise.isRunning || exercise.isChangingProgLang" translate>Run</button>
		<button class="button mini radius" ng-click="exercise.stopExecution()" ng-disabled="!exercise.isRunning" translate>Stop</button>
        <span ng-class="{ secondary: exercise.resultType === null,  alert: exercise.resultType === 0, success: exercise.resultType ===1 }" class="alert-box radius secondary">
            <span ng-show="exercise.resultType === null" translate>No results yet</span>
            <span ng-show="exercise.resultType === 0" translate>Mmm, no quite... More information below!</span>
            <span ng-show="exercise.resultType === 1" class="hover" ui-sref="exercise({lessonID: exercise.lessonID, exerciseID: exercise.defaultNextExercise})" translate>Congratulations, switch to the next exercise!</span>
        </span>
	</span>	
	<span class="right">
		<reset-exercise></reset-exercise>
		<switch-exercise></switch-exercise>
		<select-programming-language></select-programming-language>
	</span>
</div>
<div class="row">
    <br/>
    <br/>
    <ui-codemirror ng-show="exercise.ide === 'codemirror'" ng-model="exercise.code" ui-codemirror-opts="{ onLoad: codemirrorLoaded, lineWrapping : true, lineNumbers: true, tabSize: 2, firstLineNumber: 0, autoCloseBrackets: true, mode: 'text/x-java' }"></ui-codemirror>
    <blockly ng-show="exercise.ide === 'blockly'"></blockly>
    <br/>
    <br/>
</div>
<success-modal></success-modal>