<div class="row">
  <span ng-show="home.currentLesson" ng-bind-html="home.currentLesson.description"></span>
  <span ng-show="!home.currentLesson">
    <h2>Description of the lesson</h2>
    <p>The description of the selected lesson will be displayed here.</p>
  </span>
</div> <!-- /.row lesson's description -->
<div class="row">
  <h2>Your progress</h2>
  <p ng-show="home.currentLesson">
    <button class="button radius" ng-click="home.goToLesson()">Resume</button>
  </p>
  <p ng-show="!home.currentLesson">A graph representing your progress will be displayed here.</p>
</div> <!-- /.row user's progression -->