<div class="row">
    <div class="row">
        <div class="small-6 columns block"></div>
        <div class="small-6 columns block">
            <input type="checkbox" ng-model="editor.missionProgrammingLanguages.all" 
                   ng-change="editor.filterMission()"> All
            <input type="checkbox" ng-model="editor.missionProgrammingLanguages.c" 
                   ng-change="editor.filterMission()"> C
            <input type="checkbox" ng-model="editor.missionProgrammingLanguages.java" 
                   ng-change="editor.filterMission()"> java
            <input type="checkbox" ng-model="editor.missionProgrammingLanguages.scala" 
                   ng-change="editor.filterMission()"> Scala
            <input type="checkbox" ng-model="editor.missionProgrammingLanguages.python" 
                   ng-change="editor.filterMission()"> Python
        </div>
    </div>
    
    <div class="small-6 columns block">
        <textarea id="mission-input" ng-model-options="{ debounce: 300 }" ng-model="editor.missionText" 
                  ng-change="editor.filterMission()"></textarea>
    </div>
    <div class="small-6 columns block">
        <p ng-bind-html="editor.filteredMission" id="mission-preview"></p>
    </div>
</div>