<a >
	<img data-dropdown="dropLangs" ng-src="{{langs.getSelectedLang().icon}}" width="50px"/>
</a>
<ul id="dropLangs" class="f-dropdown" data-dropdown-content=true>
	<li data-reveal-id="restartServerModal" ng-repeat="lang in langs.getAvailableLangs()" ng-class="{ 'active-operation': lang.code === langs.getSelectedLang().code }" ng-click="langs.temp = lang">
  		<a><img ng-src="{{lang.icon}}" width="50%"/>&nbsp;&nbsp;{{lang.name}}</a>
 	</li>
</ul>

<div id="restartServerModal" class="reveal-modal" data-reveal=true>
  <h2>Application restart needed</h2>
  <p class="lead">In order to take into account this change, <strong>the application need to restart.</strong> Do you still want to proceed?</p>
  <span class="center">
  	<button class="secondary" onclick="$('#restartServerModal').foundation('reveal', 'close');" ng-click="langs.temp = null;">Cancel</button>
  	<button onclick="$('#restartServerModal').foundation('reveal', 'close');" ng-click="langs.setSelectedLang(langs.temp); langs.temp = null;">Continue</button>
  </span>
  
  <a class="close-reveal-modal">&#215;</a>
</div>