<a ng-disabled="exercise.isRunning || exercise.isChangingProgLang" class="button secondary mini radius" data-dropdown="drop"><img class="left" ng-src="{{exercise.currentProgrammingLanguage.icon}}"/>&nbsp;{{exercise.currentProgrammingLanguage.lang}}</a>
<ul id="drop" class="f-dropdown" data-dropdown-content=true>
	<li ng-repeat="pl in exercise.programmingLanguages" ng-class="{ 'active-operation': pl.lang === exercise.currentProgrammingLanguage }" ng-click="exercise.setProgrammingLanguage(pl)">
  		<a><img ng-src="{{pl.icon}}"/>&nbsp;{{pl.lang}}</a>
 	</li>
</ul>