<ul class="off-canvas-list">
  <li>
    <label>Switch exercise</label>
  </li>
</ul>
<ul class="off-canvas-list" style="min-height: 6rem; height: calc(100% - 14*2rem); overflow-y: auto;">
  <li><a href="#">Environment >></a>
  </li>
  <li><a href="#">Instructions >></a>
  </li>
  <li><a href="#">Environment >></a>
  </li>
  <li><a href="#">Instructions >></a>
  </li>
  <li><a href="#">Environment >></a>
  </li>
  <li><a href="#">Instructions >></a>
  </li>
  <li><a href="#">Environment >></a>
  </li>
  <li><a href="#">Instructions >></a>
  </li>
  <li><a href="#">Environment >></a>
  </li>
  </li>
</ul>