<ul class="off-canvas-list">
  <li>
    <label>Switch exercise</label>
  </li>
</ul>
<ul class="off-canvas-list" style="min-height: 6rem; height: 60%; overflow-y: auto;">
  <span ng-repeat="rootLecture in exercisesList.getExercisesTree()">
    <li ng-if="rootLecture.children === undefined" ng-class="{'active-menu-item': rootLecture.id === exercisesList.getCurrentExerciseID() }" ng-click="exercisesList.setCurrentRootLecture(rootLecture.id)" ui-sref="exercise({ lessonID: 'welcome', exerciseID: rootLecture.id })">
       <a>{{rootLecture.name}}</a>
    </li>
    <li ng-if="rootLecture.children !== undefined" ng-class="{'active-menu-item': exercisesList.isCurrentExerciseAChild(rootLecture)}" class="has-submenu">
      <a>{{rootLecture.name}} {{'('+(rootLecture.children.length+1)+')'}}</a>
      <ul ng-if="rootLecture.children !== undefined" class="left-submenu">
        <li class="back">
          <a>Back</a>
        </li>
        <li>
          <label>Switch to</label>
        </li>
        <li ng-class="{'active-menu-item': rootLecture.id === exercisesList.getCurrentExerciseID()}" ui-sref="exercise({ lessonID: 'welcome', exerciseID: rootLecture.id })">
          <a>{{rootLecture.name}}</a>
        </li>
        <li ng-repeat="exo in rootLecture.children" ng-class="{'active-menu-item': exo.id === exercisesList.getCurrentExerciseID()}" ui-sref="exercise({ lessonID: 'welcome', exerciseID: exo.id })">
          <a>{{exo.name}}</a>
        </li>
      </ul>
    </li>
  </span>
</ul>