<div class="row">
	<dl class="tabs" data-tab=true>
		<dd ng-class="{ active: exercise.worldKind === 'current' && exercise.displaySecondView === false}" ng-click="exercise.setCurrentWorld('current');exercise.setSecondView(false)">
			<a translate>World</a>
		</dd>
		<dd ng-class="{ active: exercise.worldKind === 'answer' && exercise.displaySecondView === false }" ng-click="exercise.switchToObjective();exercise.setSecondView(false)">
			<a translate>Objective</a>
		</dd>
		<dd ng-class="{ active: exercise.displaySecondView === true }" ng-click="exercise.setSecondView(true)" ng-show="exercise.secondViewNeeded" >
			<a translate>Second View</a>
		</dd>
	</dl>
</div>