<div class="row collapse">
	<div class="small-3 columns">
		<span class="prefix">
			<strong data-tooltip aria-haspopup="true" class="has-tip" title="{{'The scene takes place in one or many worlds, depending of the exercise. Each world represents a different configuration but don\'t forget that your program have to work for each one ;-)'|translate}}" translate>Selected world:</strong>
		</span>
	</div>
	<div class="small-9 columns">
		<select id="selectWorld" ng-model="exercise.currentWorldID" ng-options="worldID for worldID in exercise.worldIDs | orderBy: 'this'" ng-change="exercise.setCurrentWorld('current',exercise.drawFnct)">
		</select>
	</div>
</div>
<div class="row">
	<div class="small-11 small-centered columns">
		<tabs-current-world ng-show="exercise.objectiveViewNeeded"></tabs-current-world>
		<div class="row" id="drawingArea">
			<span ng-show="exercise.drawServiceType === 'drawWithDOM'">
				<br><br><br>
				<div id="panel" class="panel">
				</div>
				<br>
			</span>
			<canvas ng-show="exercise.drawServiceType === 'canvas'" id="canvas" width="400" height="400"></canvas>
		</div>
		<animation-player ng-show="exercise.animationPlayerNeeded"></animation-player>
	</div>
</div>
