<ul class="button-group radius">
    <li><button class="button mini small" ng-click="editor.setCommand('')" 
                ng-class="{'selected-btn': editor.command==''}" translate>
            Select cell
        </button>
    </li>
    
    <li>
        <button class="button mini radius small dropdown"
                data-dropdown="drop-wall" aria-controls="drop-wall" aria-expanded="false"
                ng-click="editor.setCommand(editor.lastWallCommand.ID)" 
                ng-class="{'selected-btn': editor.commandType=='wall'}" translate>
            {{editor.lastWallCommand.name}}
        </button>
        
        <ul id="drop-wall" data-dropdown-content class="f-dropdown" aria-hidden="true">
            <li><a href="" ng-click="editor.setCommand('topwall')">Top wall</a></li>
            <li><a href="" ng-click="editor.setCommand('leftwall')">Left wall</a></li>
        </ul>
    </li>
    
    <li><button class="button mini small" ng-click="editor.setCommand('addbaggle')"
                ng-class="{'selected-btn': editor.command=='addbaggle'}" translate>
            Baggle
        </button>
    </li>
    
    <li>
        <button class="button mini radius small dropdown"
                data-dropdown="drop-buggle" aria-controls="drop-buggle" aria-expanded="false"
                ng-click="editor.setCommand(editor.lastBuggleCommand.ID)" 
                ng-class="{'selected-btn': editor.commandType=='buggle'}" translate>
            {{editor.lastBuggleCommand.name}}
        </button>
        
        <ul id="drop-buggle" data-dropdown-content class="f-dropdown" aria-hidden="true">
            <li><a href="" ng-click="editor.setCommand('buggle')">Buggle</a></li>
            <li><a href="" ng-click="editor.setCommand('deletebuggle')">Delete Buggle</a></li>
        </ul>
    </li>

    
    <li class="color-indic-li">
        <div class="color-indic ng-hide-add-active" ng-show="editor.command == 'color' || editor.command == 'pickcolor'"
            ng-style="{ 'background-color': '#' + editor.colorService.RGBtoHex(editor.color)}">
        </div>
        <button class="button mini radius small" ng-click="editor.setCommand('color')"
                ng-class="{'selected-btn': editor.command=='color' || editor.command=='pickcolor'}"
                data-dropdown="drop-color" aria-controls="drop-color" aria-expanded="false" >
            Color
        </button>
    </li>
    
    <ul id="drop-color" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <li data-reveal-id="customColorModal">
            <div class="color-preview color-preview-custom"></div><a>Custom...</a>
        </li>
        <li ng-click="editor.setCommand('pickcolor')">
            <div class="color-preview color-preview-cfc"></div><a>Choose from cell...</a>
        </li>
        <li ng-repeat="color in editor.colors" ng-click="editor.editorColor(color);">
            <div class="color-preview" ng-style="{ backgroundColor: '#' + editor.colorService.nameToHex(color) }">
            </div>
            <a>{{color}}</a>
        </li>
    </ul>

    <li><button class="button mini small" ng-click="editor.setCommand('text')" 
                ng-class="{'selected-btn': editor.command=='text'}" translate>Text</button></li>
    
    <li>
        <button class="button mini radius small dropdown"
                data-dropdown="drop-grid" aria-controls="drop-grid" aria-expanded="false"
                ng-click="editor.setCommand(editor.lastGridCommand.ID)" 
                ng-class="{'selected-btn': editor.commandType=='grid'}" translate>
            {{editor.lastGridCommand.name}}
        </button>
        
        <ul id="drop-grid" data-dropdown-content class="f-dropdown" aria-hidden="true">
            <li><a href="" ng-click="editor.setCommand('addline')">Add line</a></li>
            <li><a href="" ng-click="editor.setCommand('deleteline')">Remove line</a></li>
            <li><a href="" ng-click="editor.setCommand('addcolumn')">Add column</a></li>
            <li><a href="" ng-click="editor.setCommand('deletecolumn')">Remove column</a></li>
        </ul>
    </li>

</ul>
    
<div id="customColorModal" class="reveal-modal" data-reveal="true">
    <h2>Custom color</h2>
    <p>What color you want (r/g/b)</p>
    <form ng-submit="editor.setRGBColor()">
        <input ng-model="editor.customColorInput" type="text">
        <button type="submit" class="button radius right" 
                onclick="$('#customColorModal').foundation('reveal', 'close');"  translate>Choose color</button>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>


<div id="setTextModal" class="reveal-modal" data-reveal=true>
    <h2>Change message</h2>
    <p>Choose a new message</p>
    <form name="contentForm" ng-submit="editor.drawService.update()">
        <input name="cellContent" ng-model="editor.selectedCellContent" 
               ng-model-options="{ updateOn: 'submit', getterSetter: true }" type="text">
        <button type="submit" class="button radius right" 
                onclick="$('#setTextModal').foundation('reveal', 'close');" translate>Change message</button>
    </form>
</div>

<div id="addLineModal" class="reveal-modal" data-reveal=true>
    <h2 translate>Add line</h2>
    <p translate>Add a line below or above the line {{editor.selectedCell.y}} ?</p>
    <button class="button radius" ng-click="editor.addLineAbove()" onclick="$('#addLineModal').foundation('reveal', 'close');" translate>Above</button>
    <button class="button radius" ng-click="editor.addLineBelow()" onclick="$('#addLineModal').foundation('reveal', 'close');" translate>Below</button>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="addColumnModal" class="reveal-modal" data-reveal=true>
    <h2 translate>Add Column</h2>
    <p translate>Add a column left or right the column {{editor.selectedCell.x}} ?</p>
    <button class="button radius" ng-click="editor.addColumnLeft()" onclick="$('#addColumnModal').foundation('reveal', 'close');" translate>Left</button>
    <button class="button radius" ng-click="editor.addColumnRight()" onclick="$('#addColumnModal').foundation('reveal', 'close');" translate>Right</button>
    <a class="close-reveal-modal">&#215;</a>
</div>