<button class="button mini radius" ng-click="editor.setCommand('topwall')" translate>Top wall</button>
<button class="button mini radius" ng-click="editor.setCommand('leftwall')" translate>Left wall</button>
<button class="button mini radius" ng-click="editor.setCommand('addbaggle')" translate>Baggle</button>
<button class="button mini radius" ng-click="editor.setCommand('buggle')" translate>Buggle</button>
<button class="button mini radius" ng-click="editor.setCommand('deletebuggle')" translate>Delete Buggle</button>