<div class="row">
	<div class="small-6 columns">
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody ng-model-options="{ updateOn: 'blur', getterSetter: true }">
                <tr>
                    <td>World name</td>
                    <td><input type="text" ng-model="editor.worldName" ></td>
                </tr>
                <tr>
                    <td>World width</td>
                    <td><input type="text" ng-model="editor.width" ></td>
                </tr>
                <tr>
                    <td>World height</td>
                    <td><input type="text" ng-model="editor.height"></td>
                </tr>
            </tbody>
            <tbody ng-hide="editor.selectedCell == null">
                <tr>
                    <td>Cell X</td>
                    <td>{{editor.selectedCell.x}}</td>
                </tr>
                <tr>
                    <td>Cell Y</td>
                    <td>{{editor.selectedCell.y}}</td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td><input type="text" ng-model="editor.selectedCellContent"
                               ng-model-options="{ getterSetter: true }"
                               ng-change="editor.drawService.update();"></td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td><input type="text" list="list-colors"
                                ng-model="editor.selectedCellColor" 
                                ng-model-options="{ updateOn: 'blur', getterSetter: true }" >
                    </td>
                </tr>
                <tr>
                    <td>Top wall?</td>
                    <td><input type="checkbox" ng-model="editor.selectedCell.hasTopWall" 
                               ng-change="editor.drawService.update();"></td>
                </tr>
                <tr>
                    <td>Left wall?</td>
                    <td><input type="checkbox" ng-model="editor.selectedCell.hasLeftWall" 
                               ng-change="editor.drawService.update();"></td>
                </tr>
                <tr>
                    <td>Baggle?</td>
                    <td><input type="checkbox" ng-model="editor.selectedCell.hasBaggle"
                               ng-change="editor.drawService.update();"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="small-6 columns">
        <table ng-hide="editor.selectedBuggle == null">
             <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Buggle name</td>
                    <td><input type="text" ng-model="editor.selectedBuggleID" 
                               ng-model-options="{ updateOn: 'blur', getterSetter: true }"></td>
                </tr>
                <tr>
                    <td>Buggle direction</td>
                    <td><select ng-model="editor.selectedBuggle.direction" 
                                ng-change="editor.drawService.update();"
                                convert-to-number>
                            <option ng-repeat="direction in editor.directions" value="{{direction.value}}">
                                {{direction.name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Buggle color</td>
                    <td><input type="text" list="list-colors"
                                ng-model="editor.selectedBuggleColor" 
                                ng-model-options="{ updateOn: 'blur', getterSetter: true }" >
                    </td>
                </tr>
            </tbody>
        </table>
        
        <datalist id="list-colors">
            <option ng-repeat="color in editor.colors" value="{{color}}">
        </datalist>
    </div>
</div>