<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v2.2.0</title>

  <link rel="shortcut icon" type="image/png" href="assets/javascripts/jasmine/lib/jasmine-2.2.0/jasmine_favicon.png">
  <link rel="stylesheet" href="assets/javascripts/jasmine/lib/jasmine-2.2.0/jasmine.css">

  <!-- jasmine's files -->
  <script src="assets/javascripts/sinon-1.12.2.js"></script>
  <script src="assets/javascripts/jasmine/lib/jasmine-2.2.0/jasmine.js"></script>
  <script src="assets/javascripts/jasmine/lib/jasmine-2.2.0/jasmine-html.js"></script>
  <script src="assets/javascripts/jasmine/lib/jasmine-2.2.0/boot.js"></script>

  <!-- angular's files -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.js"></script>
  <script type="text/javascript" src="/assets/javascripts/angular-ui-codemirror/ui-codemirror.js"></script>
  <script src="//cdn.jsdelivr.net/angular.locker/1.2.0/angular-locker.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-mocks.js"></script>

  <script src="assets/app/app.js"></script>

  <!-- include source files here... -->
  <script src="assets/app/services/canvas.service.js"></script>
  <script src="assets/app/models/direction.factory.js"></script>
  <script src="assets/app/models/defaultcolors.factory.js"></script>
  <script src="assets/app/models/universe/buggle/buggle.factory.js"></script>
  <script src="assets/app/models/universe/buggle/buggleworldcell.factory.js"></script>
  <script src="assets/app/models/universe/buggle/buggleworld.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/bugglealreadyhavebaggle.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/buggledonthavebaggle.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/buggleencounterwall.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/cellalreadyhavebaggle.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/nobaggleunderbuggle.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changebugglebrushdown.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changebugglecarrybaggle.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changebuggledirection.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changecellcolor.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changecellcontent.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changecellhasbaggle.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changecellhascontent.factory.js"></script>
  <script src="assets/app/models/universe/buggle/operations/movebuggleoperation.factory.js"></script>

  <!-- include spec files here... -->
  <script src="assets/javascripts/jasmine/spec/SpecHelper.js"></script>
  <script src="assets/app/services/canvas.service.spec.js"></script>
  <script src="assets/app/models/universe/buggle/buggle.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/buggleworldcell.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/buggleworld.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changebugglebrushdown.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changebugglecarrybaggle.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changebuggledirection.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changecellcolor.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changecellcontent.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changecellhasbaggle.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/operations/changecellhascontent.factory.spec.js"></script>
  <script src="assets/app/models/universe/buggle/operations/movebuggleoperation.factory.spec.js"></script>
</head>

<body>
</body>
</html>
